@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background: darkgray url(../imagens/background001.jpg) no-repeat center center fixed;
    background-size: cover;
    font-variant: small-caps; /* fonte em caixa alta */
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(50, 50, 50);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 10px;
}