@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightcyan;
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid black;
    border-bottom: none;
}

tbody {
    border: 1px solid black;
}

td {
    border: 1px solid #000;
    text-align: center; /* Alinhamento horizontal */
    vertical-align: middle; /* Alinhamento vertical */
    padding: 5px;
}