@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightyellow;
}

main > h1 {
    text-align: center;
    font-size: 6.5vw;
    color: darkblue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 400px;
    max-width: 700px;
    margin: 10px auto;
    position: relative;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    padding: 5px;
}