@charset "utf-8";

body {
    background-color: gray;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 320px;
    max-width: 950px;
    margin: 0 auto;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

img {
    width: 100%;
}