@charset "utf-8";

body {
    background-image: url('../img/wallpaper001.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    border-width: 10px;
    border-color: red;
    border-style: solid;
}

p {
    background-color: lightblue;
    text-align: justify;
    border-width: 10px;
    border-color: green;
    border-style: solid;
    margin: 20px;
    outline-width: 5px;
    outline-color: blue;
    outline-style: solid;
}

p::selection {
    background-color: lightyellow;
}

span {
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
}