@charset "utf-8";

body {
    background-image: url('../img/wallpaper001.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    border-width: 10px;
    border-color: red;
    border-style: solid;
}

div.quadrado {
    display: inline-block;
    border: 5px solid blue;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

div#q1 {
    background-color: blueviolet;
}

div#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3 {
    background-image: url('../img/pattern001.png');
}

p {
    background-color: lightblue;
    text-align: justify;
    border-width: 10px;
    border-color: green;
    border-style: solid;
    margin: 20px;
    outline-width: 5px;
    outline-color: blue;
    outline-style: solid;
}

p::selection {
    background-color: lightyellow;
}

span {
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
}