@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../img/back-phone.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    background-image: linear-gradient(to bottom, black, blueviolet);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

header h1 { 
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

main {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 10px;
}

img {
    margin: auto;
}

img#phone {display: block;}
img#print {display: none;}
img#tablet {display: none;}
img#tv {display: none;}
img#pc {display: none;}

footer {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
}

footer p {
    text-align: center;
}